@import 'base.css';

header{width: 100%; position: fixed; box-shadow: 0 3px 4px rgba(0,0,0,0.3); font-size: 1rem; background-color: white;}
 .logo{float: left; padding: 1em;}
 .navs{float: right;}
  .nav{float: right; padding: 1em;}